################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Queens
/Queens/bin/Debug/net6.0
/Queens/obj
/.vs
/Queens/bin/Release/net6.0
